# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
.tmp*

# Airflow & Databases
*.db
*.log
airflow.cfg
airflow.db
logs/
.airflow/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
